
<h1>Visi Straipsniai</h1>

<ul class="articles">
	<% @articles.each do |article| %>
		<li class="article">
			<%= link_to article.title, article_path(article) %>
		</li>
	<% end %>
</ul>
<!-- <%= link_to "Sukurk naują staripsnį", new_article_path, class: "btn" %> -->
